<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>"#"</key>
	<string>#⃣</string>
	<key>"0"</key>
	<string>0⃣</string>
	<key>"1"</key>
	<string>1⃣</string>
	<key>"2"</key>
	<string>2⃣</string>
	<key>"3"</key>
	<string>3⃣</string>
	<key>"4"</key>
	<string>4⃣</string>
	<key>"5"</key>
	<string>5⃣</string>
	<key>"6"</key>
	<string>6⃣</string>
	<key>"7"</key>
	<string>7⃣</string>
	<key>"8"</key>
	<string>8⃣</string>
	<key>"9"</key>
	<string>9⃣</string>
	<key>#0001F004</key>
	<string>🀄</string>
	<key>#0001F0CF</key>
	<string>🃏</string>
	<key>#0001F170</key>
	<string>🅰</string>
	<key>#0001F171</key>
	<string>🅱</string>
	<key>#0001F17E</key>
	<string>🅾</string>
	<key>#0001F17F</key>
	<string>🅿</string>
	<key>#0001F18E</key>
	<string>🆎</string>
	<key>#0001F191</key>
	<string>🆑</string>
	<key>#0001F192</key>
	<string>🆒</string>
	<key>#0001F193</key>
	<string>🆓</string>
	<key>#0001F194</key>
	<string>🆔</string>
	<key>#0001F195</key>
	<string>🆕</string>
	<key>#0001F196</key>
	<string>🆖</string>
	<key>#0001F197</key>
	<string>🆗</string>
	<key>#0001F198</key>
	<string>🆘</string>
	<key>#0001F199</key>
	<string>🆙</string>
	<key>#0001F19A</key>
	<string>🆚</string>
	<key>#0001F1E8</key>
	<string>🇨🇳</string>
	<key>#0001F1E9</key>
	<string>🇩🇪</string>
	<key>#0001F1EA</key>
	<string>🇪🇸</string>
	<key>#0001F1EB</key>
	<string>🇫🇷</string>
	<key>#0001F1EE</key>
	<string>🇮🇹</string>
	<key>#0001F1EF</key>
	<string>🇯🇵</string>
	<key>#0001F1F0</key>
	<string>🇰🇷</string>
	<key>#0001F1F3</key>
	<string>🇨🇳</string>
	<key>#0001F1F5</key>
	<string>🇯🇵</string>
	<key>#0001F1F7</key>
	<string>🇷🇺</string>
	<key>#0001F1F8</key>
	<string>🇪🇸</string>
	<key>#0001F1F9</key>
	<string>🇮🇹</string>
	<key>#0001F1FA</key>
	<string>🇷🇺</string>
	<key>#0001F201</key>
	<string>🈁</string>
	<key>#0001F202</key>
	<string>🈂</string>
	<key>#0001F21A</key>
	<string>🈚</string>
	<key>#0001F22F</key>
	<string>🈯</string>
	<key>#0001F232</key>
	<string>🈲</string>
	<key>#0001F233</key>
	<string>🈳</string>
	<key>#0001F234</key>
	<string>🈴</string>
	<key>#0001F235</key>
	<string>🈵</string>
	<key>#0001F236</key>
	<string>🈶</string>
	<key>#0001F237</key>
	<string>🈷</string>
	<key>#0001F238</key>
	<string>🈸</string>
	<key>#0001F239</key>
	<string>🈹</string>
	<key>#0001F23A</key>
	<string>🈺</string>
	<key>#0001F250</key>
	<string>🉐</string>
	<key>#0001F251</key>
	<string>🉑</string>
	<key>#0001F300</key>
	<string>🌀</string>
	<key>#0001F301</key>
	<string>🌁</string>
	<key>#0001F302</key>
	<string>🌂</string>
	<key>#0001F303</key>
	<string>🌃</string>
	<key>#0001F304</key>
	<string>🌄</string>
	<key>#0001F305</key>
	<string>🌅</string>
	<key>#0001F306</key>
	<string>🌆</string>
	<key>#0001F307</key>
	<string>🌇</string>
	<key>#0001F308</key>
	<string>🌈</string>
	<key>#0001F309</key>
	<string>🌉</string>
	<key>#0001F30A</key>
	<string>🌊</string>
	<key>#0001F30B</key>
	<string>🌋</string>
	<key>#0001F30C</key>
	<string>🌌</string>
	<key>#0001F30D</key>
	<string>🌍</string>
	<key>#0001F30E</key>
	<string>🌎</string>
	<key>#0001F30F</key>
	<string>🌏</string>
	<key>#0001F310</key>
	<string>🌐</string>
	<key>#0001F311</key>
	<string>🌑</string>
	<key>#0001F312</key>
	<string>🌒</string>
	<key>#0001F313</key>
	<string>🌓</string>
	<key>#0001F314</key>
	<string>🌔</string>
	<key>#0001F315</key>
	<string>🌕</string>
	<key>#0001F316</key>
	<string>🌖</string>
	<key>#0001F317</key>
	<string>🌗</string>
	<key>#0001F318</key>
	<string>🌘</string>
	<key>#0001F319</key>
	<string>🌙</string>
	<key>#0001F31A</key>
	<string>🌚</string>
	<key>#0001F31B</key>
	<string>🌛</string>
	<key>#0001F31C</key>
	<string>🌜</string>
	<key>#0001F31D</key>
	<string>🌝</string>
	<key>#0001F31E</key>
	<string>🌞</string>
	<key>#0001F31F</key>
	<string>🌟</string>
	<key>#0001F320</key>
	<string>🌠</string>
	<key>#0001F330</key>
	<string>🌰</string>
	<key>#0001F331</key>
	<string>🌱</string>
	<key>#0001F332</key>
	<string>🌲</string>
	<key>#0001F333</key>
	<string>🌳</string>
	<key>#0001F334</key>
	<string>🌴</string>
	<key>#0001F335</key>
	<string>🌵</string>
	<key>#0001F337</key>
	<string>🌷</string>
	<key>#0001F338</key>
	<string>🌸</string>
	<key>#0001F339</key>
	<string>🌹</string>
	<key>#0001F33A</key>
	<string>🌺</string>
	<key>#0001F33B</key>
	<string>🌻</string>
	<key>#0001F33C</key>
	<string>🌼</string>
	<key>#0001F33D</key>
	<string>🌽</string>
	<key>#0001F33E</key>
	<string>🌾</string>
	<key>#0001F33F</key>
	<string>🌿</string>
	<key>#0001F340</key>
	<string>🍀</string>
	<key>#0001F341</key>
	<string>🍁</string>
	<key>#0001F342</key>
	<string>🍂</string>
	<key>#0001F343</key>
	<string>🍃</string>
	<key>#0001F344</key>
	<string>🍄</string>
	<key>#0001F345</key>
	<string>🍅</string>
	<key>#0001F346</key>
	<string>🍆</string>
	<key>#0001F347</key>
	<string>🍇</string>
	<key>#0001F348</key>
	<string>🍈</string>
	<key>#0001F349</key>
	<string>🍉</string>
	<key>#0001F34A</key>
	<string>🍊</string>
	<key>#0001F34B</key>
	<string>🍋</string>
	<key>#0001F34C</key>
	<string>🍌</string>
	<key>#0001F34D</key>
	<string>🍍</string>
	<key>#0001F34E</key>
	<string>🍎</string>
	<key>#0001F34F</key>
	<string>🍏</string>
	<key>#0001F350</key>
	<string>🍐</string>
	<key>#0001F351</key>
	<string>🍑</string>
	<key>#0001F352</key>
	<string>🍒</string>
	<key>#0001F353</key>
	<string>🍓</string>
	<key>#0001F354</key>
	<string>🍔</string>
	<key>#0001F355</key>
	<string>🍕</string>
	<key>#0001F356</key>
	<string>🍖</string>
	<key>#0001F357</key>
	<string>🍗</string>
	<key>#0001F358</key>
	<string>🍘</string>
	<key>#0001F359</key>
	<string>🍙</string>
	<key>#0001F35A</key>
	<string>🍚</string>
	<key>#0001F35B</key>
	<string>🍛</string>
	<key>#0001F35C</key>
	<string>🍜</string>
	<key>#0001F35D</key>
	<string>🍝</string>
	<key>#0001F35E</key>
	<string>🍞</string>
	<key>#0001F35F</key>
	<string>🍟</string>
	<key>#0001F360</key>
	<string>🍠</string>
	<key>#0001F361</key>
	<string>🍡</string>
	<key>#0001F362</key>
	<string>🍢</string>
	<key>#0001F363</key>
	<string>🍣</string>
	<key>#0001F364</key>
	<string>🍤</string>
	<key>#0001F365</key>
	<string>🍥</string>
	<key>#0001F366</key>
	<string>🍦</string>
	<key>#0001F367</key>
	<string>🍧</string>
	<key>#0001F368</key>
	<string>🍨</string>
	<key>#0001F369</key>
	<string>🍩</string>
	<key>#0001F36A</key>
	<string>🍪</string>
	<key>#0001F36B</key>
	<string>🍫</string>
	<key>#0001F36C</key>
	<string>🍬</string>
	<key>#0001F36D</key>
	<string>🍭</string>
	<key>#0001F36E</key>
	<string>🍮</string>
	<key>#0001F36F</key>
	<string>🍯</string>
	<key>#0001F370</key>
	<string>🍰</string>
	<key>#0001F371</key>
	<string>🍱</string>
	<key>#0001F372</key>
	<string>🍲</string>
	<key>#0001F373</key>
	<string>🍳</string>
	<key>#0001F374</key>
	<string>🍴</string>
	<key>#0001F375</key>
	<string>🍵</string>
	<key>#0001F376</key>
	<string>🍶</string>
	<key>#0001F377</key>
	<string>🍷</string>
	<key>#0001F378</key>
	<string>🍸</string>
	<key>#0001F379</key>
	<string>🍹</string>
	<key>#0001F37A</key>
	<string>🍺</string>
	<key>#0001F37B</key>
	<string>🍻</string>
	<key>#0001F37C</key>
	<string>🍼</string>
	<key>#0001F380</key>
	<string>🎀</string>
	<key>#0001F381</key>
	<string>🎁</string>
	<key>#0001F382</key>
	<string>🎂</string>
	<key>#0001F383</key>
	<string>🎃</string>
	<key>#0001F384</key>
	<string>🎄</string>
	<key>#0001F385</key>
	<string>🎅</string>
	<key>#0001F386</key>
	<string>🎆</string>
	<key>#0001F387</key>
	<string>🎇</string>
	<key>#0001F388</key>
	<string>🎈</string>
	<key>#0001F389</key>
	<string>🎉</string>
	<key>#0001F38A</key>
	<string>🎊</string>
	<key>#0001F38B</key>
	<string>🎋</string>
	<key>#0001F38C</key>
	<string>🎌</string>
	<key>#0001F38D</key>
	<string>🎍</string>
	<key>#0001F38E</key>
	<string>🎎</string>
	<key>#0001F38F</key>
	<string>🎏</string>
	<key>#0001F390</key>
	<string>🎐</string>
	<key>#0001F391</key>
	<string>🎑</string>
	<key>#0001F392</key>
	<string>🎒</string>
	<key>#0001F393</key>
	<string>🎓</string>
	<key>#0001F3A0</key>
	<string>🎠</string>
	<key>#0001F3A1</key>
	<string>🎡</string>
	<key>#0001F3A2</key>
	<string>🎢</string>
	<key>#0001F3A3</key>
	<string>🎣</string>
	<key>#0001F3A4</key>
	<string>🎤</string>
	<key>#0001F3A5</key>
	<string>🎥</string>
	<key>#0001F3A6</key>
	<string>🎦</string>
	<key>#0001F3A7</key>
	<string>🎧</string>
	<key>#0001F3A8</key>
	<string>🎨</string>
	<key>#0001F3A9</key>
	<string>🎩</string>
	<key>#0001F3AA</key>
	<string>🎪</string>
	<key>#0001F3AB</key>
	<string>🎫</string>
	<key>#0001F3AC</key>
	<string>🎬</string>
	<key>#0001F3AD</key>
	<string>🎭</string>
	<key>#0001F3AE</key>
	<string>🎮</string>
	<key>#0001F3AF</key>
	<string>🎯</string>
	<key>#0001F3B0</key>
	<string>🎰</string>
	<key>#0001F3B1</key>
	<string>🎱</string>
	<key>#0001F3B2</key>
	<string>🎲</string>
	<key>#0001F3B3</key>
	<string>🎳</string>
	<key>#0001F3B4</key>
	<string>🎴</string>
	<key>#0001F3B5</key>
	<string>🎵</string>
	<key>#0001F3B6</key>
	<string>🎶</string>
	<key>#0001F3B7</key>
	<string>🎷</string>
	<key>#0001F3B8</key>
	<string>🎸</string>
	<key>#0001F3B9</key>
	<string>🎹</string>
	<key>#0001F3BA</key>
	<string>🎺</string>
	<key>#0001F3BB</key>
	<string>🎻</string>
	<key>#0001F3BC</key>
	<string>🎼</string>
	<key>#0001F3BD</key>
	<string>🎽</string>
	<key>#0001F3BE</key>
	<string>🎾</string>
	<key>#0001F3BF</key>
	<string>🎿</string>
	<key>#0001F3C0</key>
	<string>🏀</string>
	<key>#0001F3C1</key>
	<string>🏁</string>
	<key>#0001F3C2</key>
	<string>🏂</string>
	<key>#0001F3C3</key>
	<string>🏃</string>
	<key>#0001F3C4</key>
	<string>🏄</string>
	<key>#0001F3C6</key>
	<string>🏆</string>
	<key>#0001F3C7</key>
	<string>🏇</string>
	<key>#0001F3C8</key>
	<string>🏈</string>
	<key>#0001F3C9</key>
	<string>🏉</string>
	<key>#0001F3CA</key>
	<string>🏊</string>
	<key>#0001F3E0</key>
	<string>🏠</string>
	<key>#0001F3E1</key>
	<string>🏡</string>
	<key>#0001F3E2</key>
	<string>🏢</string>
	<key>#0001F3E3</key>
	<string>🏣</string>
	<key>#0001F3E4</key>
	<string>🏤</string>
	<key>#0001F3E5</key>
	<string>🏥</string>
	<key>#0001F3E6</key>
	<string>🏦</string>
	<key>#0001F3E7</key>
	<string>🏧</string>
	<key>#0001F3E8</key>
	<string>🏨</string>
	<key>#0001F3E9</key>
	<string>🏩</string>
	<key>#0001F3EA</key>
	<string>🏪</string>
	<key>#0001F3EB</key>
	<string>🏫</string>
	<key>#0001F3EC</key>
	<string>🏬</string>
	<key>#0001F3ED</key>
	<string>🏭</string>
	<key>#0001F3EE</key>
	<string>🏮</string>
	<key>#0001F3EF</key>
	<string>🏯</string>
	<key>#0001F3F0</key>
	<string>🏰</string>
	<key>#0001F400</key>
	<string>🐀</string>
	<key>#0001F401</key>
	<string>🐁</string>
	<key>#0001F402</key>
	<string>🐂</string>
	<key>#0001F403</key>
	<string>🐃</string>
	<key>#0001F404</key>
	<string>🐄</string>
	<key>#0001F405</key>
	<string>🐅</string>
	<key>#0001F406</key>
	<string>🐆</string>
	<key>#0001F407</key>
	<string>🐇</string>
	<key>#0001F408</key>
	<string>🐈</string>
	<key>#0001F409</key>
	<string>🐉</string>
	<key>#0001F40A</key>
	<string>🐊</string>
	<key>#0001F40B</key>
	<string>🐋</string>
	<key>#0001F40C</key>
	<string>🐌</string>
	<key>#0001F40D</key>
	<string>🐍</string>
	<key>#0001F40E</key>
	<string>🐎</string>
	<key>#0001F40F</key>
	<string>🐏</string>
	<key>#0001F410</key>
	<string>🐐</string>
	<key>#0001F411</key>
	<string>🐑</string>
	<key>#0001F412</key>
	<string>🐒</string>
	<key>#0001F413</key>
	<string>🐓</string>
	<key>#0001F414</key>
	<string>🐔</string>
	<key>#0001F415</key>
	<string>🐕</string>
	<key>#0001F416</key>
	<string>🐖</string>
	<key>#0001F417</key>
	<string>🐗</string>
	<key>#0001F418</key>
	<string>🐘</string>
	<key>#0001F419</key>
	<string>🐙</string>
	<key>#0001F41A</key>
	<string>🐚</string>
	<key>#0001F41B</key>
	<string>🐛</string>
	<key>#0001F41C</key>
	<string>🐜</string>
	<key>#0001F41D</key>
	<string>🐝</string>
	<key>#0001F41E</key>
	<string>🐞</string>
	<key>#0001F41F</key>
	<string>🐟</string>
	<key>#0001F420</key>
	<string>🐠</string>
	<key>#0001F421</key>
	<string>🐡</string>
	<key>#0001F422</key>
	<string>🐢</string>
	<key>#0001F423</key>
	<string>🐣</string>
	<key>#0001F424</key>
	<string>🐤</string>
	<key>#0001F425</key>
	<string>🐥</string>
	<key>#0001F426</key>
	<string>🐦</string>
	<key>#0001F427</key>
	<string>🐧</string>
	<key>#0001F428</key>
	<string>🐨</string>
	<key>#0001F429</key>
	<string>🐩</string>
	<key>#0001F42A</key>
	<string>🐪</string>
	<key>#0001F42B</key>
	<string>🐫</string>
	<key>#0001F42C</key>
	<string>🐬</string>
	<key>#0001F42D</key>
	<string>🐭</string>
	<key>#0001F42E</key>
	<string>🐮</string>
	<key>#0001F42F</key>
	<string>🐯</string>
	<key>#0001F430</key>
	<string>🐰</string>
	<key>#0001F431</key>
	<string>🐱</string>
	<key>#0001F432</key>
	<string>🐲</string>
	<key>#0001F433</key>
	<string>🐳</string>
	<key>#0001F434</key>
	<string>🐴</string>
	<key>#0001F435</key>
	<string>🐵</string>
	<key>#0001F436</key>
	<string>🐶</string>
	<key>#0001F437</key>
	<string>🐷</string>
	<key>#0001F438</key>
	<string>🐸</string>
	<key>#0001F439</key>
	<string>🐹</string>
	<key>#0001F43A</key>
	<string>🐺</string>
	<key>#0001F43B</key>
	<string>🐻</string>
	<key>#0001F43C</key>
	<string>🐼</string>
	<key>#0001F43D</key>
	<string>🐽</string>
	<key>#0001F43E</key>
	<string>🐾</string>
	<key>#0001F440</key>
	<string>👀</string>
	<key>#0001F442</key>
	<string>👂</string>
	<key>#0001F443</key>
	<string>👃</string>
	<key>#0001F444</key>
	<string>👄</string>
	<key>#0001F445</key>
	<string>👅</string>
	<key>#0001F446</key>
	<string>👆</string>
	<key>#0001F447</key>
	<string>👇</string>
	<key>#0001F448</key>
	<string>👈</string>
	<key>#0001F449</key>
	<string>👉</string>
	<key>#0001F44A</key>
	<string>👊</string>
	<key>#0001F44B</key>
	<string>👋</string>
	<key>#0001F44C</key>
	<string>👌</string>
	<key>#0001F44D</key>
	<string>👍</string>
	<key>#0001F44E</key>
	<string>👎</string>
	<key>#0001F44F</key>
	<string>👏</string>
	<key>#0001F450</key>
	<string>👐</string>
	<key>#0001F451</key>
	<string>👑</string>
	<key>#0001F452</key>
	<string>👒</string>
	<key>#0001F453</key>
	<string>👓</string>
	<key>#0001F454</key>
	<string>👔</string>
	<key>#0001F455</key>
	<string>👕</string>
	<key>#0001F456</key>
	<string>👖</string>
	<key>#0001F457</key>
	<string>👗</string>
	<key>#0001F458</key>
	<string>👘</string>
	<key>#0001F459</key>
	<string>👙</string>
	<key>#0001F45A</key>
	<string>👚</string>
	<key>#0001F45B</key>
	<string>👛</string>
	<key>#0001F45C</key>
	<string>👜</string>
	<key>#0001F45D</key>
	<string>👝</string>
	<key>#0001F45E</key>
	<string>👞</string>
	<key>#0001F45F</key>
	<string>👟</string>
	<key>#0001F460</key>
	<string>👠</string>
	<key>#0001F461</key>
	<string>👡</string>
	<key>#0001F462</key>
	<string>👢</string>
	<key>#0001F463</key>
	<string>👣</string>
	<key>#0001F464</key>
	<string>👤</string>
	<key>#0001F465</key>
	<string>👥</string>
	<key>#0001F466</key>
	<string>👦</string>
	<key>#0001F467</key>
	<string>👧</string>
	<key>#0001F468</key>
	<string>👨</string>
	<key>#0001F469</key>
	<string>👩</string>
	<key>#0001F46A</key>
	<string>👪</string>
	<key>#0001F46B</key>
	<string>👫</string>
	<key>#0001F46C</key>
	<string>👬</string>
	<key>#0001F46D</key>
	<string>👭</string>
	<key>#0001F46E</key>
	<string>👮</string>
	<key>#0001F46F</key>
	<string>👯</string>
	<key>#0001F470</key>
	<string>👰</string>
	<key>#0001F471</key>
	<string>👱</string>
	<key>#0001F472</key>
	<string>👲</string>
	<key>#0001F473</key>
	<string>👳</string>
	<key>#0001F474</key>
	<string>👴</string>
	<key>#0001F475</key>
	<string>👵</string>
	<key>#0001F476</key>
	<string>👶</string>
	<key>#0001F477</key>
	<string>👷</string>
	<key>#0001F478</key>
	<string>👸</string>
	<key>#0001F479</key>
	<string>👹</string>
	<key>#0001F47A</key>
	<string>👺</string>
	<key>#0001F47B</key>
	<string>👻</string>
	<key>#0001F47C</key>
	<string>👼</string>
	<key>#0001F47D</key>
	<string>👽</string>
	<key>#0001F47E</key>
	<string>👾</string>
	<key>#0001F47F</key>
	<string>👿</string>
	<key>#0001F480</key>
	<string>💀</string>
	<key>#0001F481</key>
	<string>💁</string>
	<key>#0001F482</key>
	<string>💂</string>
	<key>#0001F483</key>
	<string>💃</string>
	<key>#0001F484</key>
	<string>💄</string>
	<key>#0001F485</key>
	<string>💅</string>
	<key>#0001F486</key>
	<string>💆</string>
	<key>#0001F487</key>
	<string>💇</string>
	<key>#0001F488</key>
	<string>💈</string>
	<key>#0001F489</key>
	<string>💉</string>
	<key>#0001F48A</key>
	<string>💊</string>
	<key>#0001F48B</key>
	<string>💋</string>
	<key>#0001F48C</key>
	<string>💌</string>
	<key>#0001F48D</key>
	<string>💍</string>
	<key>#0001F48E</key>
	<string>💎</string>
	<key>#0001F48F</key>
	<string>💏</string>
	<key>#0001F490</key>
	<string>💐</string>
	<key>#0001F491</key>
	<string>💑</string>
	<key>#0001F492</key>
	<string>💒</string>
	<key>#0001F493</key>
	<string>💓</string>
	<key>#0001F494</key>
	<string>💔</string>
	<key>#0001F495</key>
	<string>💕</string>
	<key>#0001F496</key>
	<string>💖</string>
	<key>#0001F497</key>
	<string>💗</string>
	<key>#0001F498</key>
	<string>💘</string>
	<key>#0001F499</key>
	<string>💙</string>
	<key>#0001F49A</key>
	<string>💚</string>
	<key>#0001F49B</key>
	<string>💛</string>
	<key>#0001F49C</key>
	<string>💜</string>
	<key>#0001F49D</key>
	<string>💝</string>
	<key>#0001F49E</key>
	<string>💞</string>
	<key>#0001F49F</key>
	<string>💟</string>
	<key>#0001F4A0</key>
	<string>💠</string>
	<key>#0001F4A1</key>
	<string>💡</string>
	<key>#0001F4A2</key>
	<string>💢</string>
	<key>#0001F4A3</key>
	<string>💣</string>
	<key>#0001F4A4</key>
	<string>💤</string>
	<key>#0001F4A5</key>
	<string>💥</string>
	<key>#0001F4A6</key>
	<string>💦</string>
	<key>#0001F4A7</key>
	<string>💧</string>
	<key>#0001F4A8</key>
	<string>💨</string>
	<key>#0001F4A9</key>
	<string>💩</string>
	<key>#0001F4AA</key>
	<string>💪</string>
	<key>#0001F4AB</key>
	<string>💫</string>
	<key>#0001F4AC</key>
	<string>💬</string>
	<key>#0001F4AD</key>
	<string>💭</string>
	<key>#0001F4AE</key>
	<string>💮</string>
	<key>#0001F4AF</key>
	<string>💯</string>
	<key>#0001F4B0</key>
	<string>💰</string>
	<key>#0001F4B1</key>
	<string>💱</string>
	<key>#0001F4B2</key>
	<string>💲</string>
	<key>#0001F4B3</key>
	<string>💳</string>
	<key>#0001F4B4</key>
	<string>💴</string>
	<key>#0001F4B5</key>
	<string>💵</string>
	<key>#0001F4B6</key>
	<string>💶</string>
	<key>#0001F4B7</key>
	<string>💷</string>
	<key>#0001F4B8</key>
	<string>💸</string>
	<key>#0001F4B9</key>
	<string>💹</string>
	<key>#0001F4BA</key>
	<string>💺</string>
	<key>#0001F4BB</key>
	<string>💻</string>
	<key>#0001F4BC</key>
	<string>💼</string>
	<key>#0001F4BD</key>
	<string>💽</string>
	<key>#0001F4BE</key>
	<string>💾</string>
	<key>#0001F4BF</key>
	<string>💿</string>
	<key>#0001F4C0</key>
	<string>📀</string>
	<key>#0001F4C1</key>
	<string>📁</string>
	<key>#0001F4C2</key>
	<string>📂</string>
	<key>#0001F4C3</key>
	<string>📃</string>
	<key>#0001F4C4</key>
	<string>📄</string>
	<key>#0001F4C5</key>
	<string>📅</string>
	<key>#0001F4C6</key>
	<string>📆</string>
	<key>#0001F4C7</key>
	<string>📇</string>
	<key>#0001F4C8</key>
	<string>📈</string>
	<key>#0001F4C9</key>
	<string>📉</string>
	<key>#0001F4CA</key>
	<string>📊</string>
	<key>#0001F4CB</key>
	<string>📋</string>
	<key>#0001F4CC</key>
	<string>📌</string>
	<key>#0001F4CD</key>
	<string>📍</string>
	<key>#0001F4CE</key>
	<string>📎</string>
	<key>#0001F4CF</key>
	<string>📏</string>
	<key>#0001F4D0</key>
	<string>📐</string>
	<key>#0001F4D1</key>
	<string>📑</string>
	<key>#0001F4D2</key>
	<string>📒</string>
	<key>#0001F4D3</key>
	<string>📓</string>
	<key>#0001F4D4</key>
	<string>📔</string>
	<key>#0001F4D5</key>
	<string>📕</string>
	<key>#0001F4D6</key>
	<string>📖</string>
	<key>#0001F4D7</key>
	<string>📗</string>
	<key>#0001F4D8</key>
	<string>📘</string>
	<key>#0001F4D9</key>
	<string>📙</string>
	<key>#0001F4DA</key>
	<string>📚</string>
	<key>#0001F4DB</key>
	<string>📛</string>
	<key>#0001F4DC</key>
	<string>📜</string>
	<key>#0001F4DD</key>
	<string>📝</string>
	<key>#0001F4DE</key>
	<string>📞</string>
	<key>#0001F4DF</key>
	<string>📟</string>
	<key>#0001F4E0</key>
	<string>📠</string>
	<key>#0001F4E1</key>
	<string>📡</string>
	<key>#0001F4E2</key>
	<string>📢</string>
	<key>#0001F4E3</key>
	<string>📣</string>
	<key>#0001F4E4</key>
	<string>📤</string>
	<key>#0001F4E5</key>
	<string>📥</string>
	<key>#0001F4E6</key>
	<string>📦</string>
	<key>#0001F4E7</key>
	<string>📧</string>
	<key>#0001F4E8</key>
	<string>📨</string>
	<key>#0001F4E9</key>
	<string>📩</string>
	<key>#0001F4EA</key>
	<string>📪</string>
	<key>#0001F4EB</key>
	<string>📫</string>
	<key>#0001F4EC</key>
	<string>📬</string>
	<key>#0001F4ED</key>
	<string>📭</string>
	<key>#0001F4EE</key>
	<string>📮</string>
	<key>#0001F4EF</key>
	<string>📯</string>
	<key>#0001F4F0</key>
	<string>📰</string>
	<key>#0001F4F1</key>
	<string>📱</string>
	<key>#0001F4F2</key>
	<string>📲</string>
	<key>#0001F4F3</key>
	<string>📳</string>
	<key>#0001F4F4</key>
	<string>📴</string>
	<key>#0001F4F5</key>
	<string>📵</string>
	<key>#0001F4F6</key>
	<string>📶</string>
	<key>#0001F4F7</key>
	<string>📷</string>
	<key>#0001F4F9</key>
	<string>📹</string>
	<key>#0001F4FA</key>
	<string>📺</string>
	<key>#0001F4FB</key>
	<string>📻</string>
	<key>#0001F4FC</key>
	<string>📼</string>
	<key>#0001F500</key>
	<string>🔀</string>
	<key>#0001F501</key>
	<string>🔁</string>
	<key>#0001F502</key>
	<string>🔂</string>
	<key>#0001F503</key>
	<string>🔃</string>
	<key>#0001F504</key>
	<string>🔄</string>
	<key>#0001F505</key>
	<string>🔅</string>
	<key>#0001F506</key>
	<string>🔆</string>
	<key>#0001F507</key>
	<string>🔇</string>
	<key>#0001F508</key>
	<string>🔈</string>
	<key>#0001F509</key>
	<string>🔉</string>
	<key>#0001F50A</key>
	<string>🔊</string>
	<key>#0001F50B</key>
	<string>🔋</string>
	<key>#0001F50C</key>
	<string>🔌</string>
	<key>#0001F50D</key>
	<string>🔍</string>
	<key>#0001F50E</key>
	<string>🔎</string>
	<key>#0001F50F</key>
	<string>🔏</string>
	<key>#0001F510</key>
	<string>🔐</string>
	<key>#0001F511</key>
	<string>🔑</string>
	<key>#0001F512</key>
	<string>🔒</string>
	<key>#0001F513</key>
	<string>🔓</string>
	<key>#0001F514</key>
	<string>🔔</string>
	<key>#0001F515</key>
	<string>🔕</string>
	<key>#0001F516</key>
	<string>🔖</string>
	<key>#0001F517</key>
	<string>🔗</string>
	<key>#0001F518</key>
	<string>🔘</string>
	<key>#0001F519</key>
	<string>🔙</string>
	<key>#0001F51A</key>
	<string>🔚</string>
	<key>#0001F51B</key>
	<string>🔛</string>
	<key>#0001F51C</key>
	<string>🔜</string>
	<key>#0001F51D</key>
	<string>🔝</string>
	<key>#0001F51E</key>
	<string>🔞</string>
	<key>#0001F51F</key>
	<string>🔟</string>
	<key>#0001F520</key>
	<string>🔠</string>
	<key>#0001F521</key>
	<string>🔡</string>
	<key>#0001F522</key>
	<string>🔢</string>
	<key>#0001F523</key>
	<string>🔣</string>
	<key>#0001F524</key>
	<string>🔤</string>
	<key>#0001F525</key>
	<string>🔥</string>
	<key>#0001F526</key>
	<string>🔦</string>
	<key>#0001F527</key>
	<string>🔧</string>
	<key>#0001F528</key>
	<string>🔨</string>
	<key>#0001F529</key>
	<string>🔩</string>
	<key>#0001F52A</key>
	<string>🔪</string>
	<key>#0001F52B</key>
	<string>🔫</string>
	<key>#0001F52C</key>
	<string>🔬</string>
	<key>#0001F52D</key>
	<string>🔭</string>
	<key>#0001F52E</key>
	<string>🔮</string>
	<key>#0001F52F</key>
	<string>🔯</string>
	<key>#0001F530</key>
	<string>🔰</string>
	<key>#0001F531</key>
	<string>🔱</string>
	<key>#0001F532</key>
	<string>🔲</string>
	<key>#0001F533</key>
	<string>🔳</string>
	<key>#0001F534</key>
	<string>🔴</string>
	<key>#0001F535</key>
	<string>🔵</string>
	<key>#0001F536</key>
	<string>🔶</string>
	<key>#0001F537</key>
	<string>🔷</string>
	<key>#0001F538</key>
	<string>🔸</string>
	<key>#0001F539</key>
	<string>🔹</string>
	<key>#0001F53A</key>
	<string>🔺</string>
	<key>#0001F53B</key>
	<string>🔻</string>
	<key>#0001F53C</key>
	<string>🔼</string>
	<key>#0001F53D</key>
	<string>🔽</string>
	<key>#0001F550</key>
	<string>🕐</string>
	<key>#0001F551</key>
	<string>🕑</string>
	<key>#0001F552</key>
	<string>🕒</string>
	<key>#0001F553</key>
	<string>🕓</string>
	<key>#0001F554</key>
	<string>🕔</string>
	<key>#0001F555</key>
	<string>🕕</string>
	<key>#0001F556</key>
	<string>🕖</string>
	<key>#0001F557</key>
	<string>🕗</string>
	<key>#0001F558</key>
	<string>🕘</string>
	<key>#0001F559</key>
	<string>🕙</string>
	<key>#0001F55A</key>
	<string>🕚</string>
	<key>#0001F55B</key>
	<string>🕛</string>
	<key>#0001F55C</key>
	<string>🕜</string>
	<key>#0001F55D</key>
	<string>🕝</string>
	<key>#0001F55E</key>
	<string>🕞</string>
	<key>#0001F55F</key>
	<string>🕟</string>
	<key>#0001F560</key>
	<string>🕠</string>
	<key>#0001F561</key>
	<string>🕡</string>
	<key>#0001F562</key>
	<string>🕢</string>
	<key>#0001F563</key>
	<string>🕣</string>
	<key>#0001F564</key>
	<string>🕤</string>
	<key>#0001F565</key>
	<string>🕥</string>
	<key>#0001F566</key>
	<string>🕦</string>
	<key>#0001F567</key>
	<string>🕧</string>
	<key>#0001F5FB</key>
	<string>🗻</string>
	<key>#0001F5FC</key>
	<string>🗼</string>
	<key>#0001F5FD</key>
	<string>🗽</string>
	<key>#0001F5FE</key>
	<string>🗾</string>
	<key>#0001F5FF</key>
	<string>🗿</string>
	<key>#0001F600</key>
	<string>😀</string>
	<key>#0001F601</key>
	<string>😁</string>
	<key>#0001F602</key>
	<string>😂</string>
	<key>#0001F603</key>
	<string>😃</string>
	<key>#0001F604</key>
	<string>😄</string>
	<key>#0001F605</key>
	<string>😅</string>
	<key>#0001F606</key>
	<string>😆</string>
	<key>#0001F607</key>
	<string>😇</string>
	<key>#0001F608</key>
	<string>😈</string>
	<key>#0001F609</key>
	<string>😉</string>
	<key>#0001F60A</key>
	<string>😊</string>
	<key>#0001F60B</key>
	<string>😋</string>
	<key>#0001F60C</key>
	<string>😌</string>
	<key>#0001F60D</key>
	<string>😍</string>
	<key>#0001F60E</key>
	<string>😎</string>
	<key>#0001F60F</key>
	<string>😏</string>
	<key>#0001F610</key>
	<string>😐</string>
	<key>#0001F611</key>
	<string>😑</string>
	<key>#0001F612</key>
	<string>😒</string>
	<key>#0001F613</key>
	<string>😓</string>
	<key>#0001F614</key>
	<string>😔</string>
	<key>#0001F615</key>
	<string>😕</string>
	<key>#0001F616</key>
	<string>😖</string>
	<key>#0001F617</key>
	<string>😗</string>
	<key>#0001F618</key>
	<string>😘</string>
	<key>#0001F619</key>
	<string>😙</string>
	<key>#0001F61A</key>
	<string>😚</string>
	<key>#0001F61B</key>
	<string>😛</string>
	<key>#0001F61C</key>
	<string>😜</string>
	<key>#0001F61D</key>
	<string>😝</string>
	<key>#0001F61E</key>
	<string>😞</string>
	<key>#0001F61F</key>
	<string>😟</string>
	<key>#0001F620</key>
	<string>😠</string>
	<key>#0001F621</key>
	<string>😡</string>
	<key>#0001F622</key>
	<string>😢</string>
	<key>#0001F623</key>
	<string>😣</string>
	<key>#0001F624</key>
	<string>😤</string>
	<key>#0001F625</key>
	<string>😥</string>
	<key>#0001F626</key>
	<string>😦</string>
	<key>#0001F627</key>
	<string>😧</string>
	<key>#0001F628</key>
	<string>😨</string>
	<key>#0001F629</key>
	<string>😩</string>
	<key>#0001F62A</key>
	<string>😪</string>
	<key>#0001F62B</key>
	<string>😫</string>
	<key>#0001F62C</key>
	<string>😬</string>
	<key>#0001F62D</key>
	<string>😭</string>
	<key>#0001F62E</key>
	<string>😮</string>
	<key>#0001F62F</key>
	<string>😯</string>
	<key>#0001F630</key>
	<string>😰</string>
	<key>#0001F631</key>
	<string>😱</string>
	<key>#0001F632</key>
	<string>😲</string>
	<key>#0001F633</key>
	<string>😳</string>
	<key>#0001F634</key>
	<string>😴</string>
	<key>#0001F635</key>
	<string>😵</string>
	<key>#0001F636</key>
	<string>😶</string>
	<key>#0001F637</key>
	<string>😷</string>
	<key>#0001F638</key>
	<string>😸</string>
	<key>#0001F639</key>
	<string>😹</string>
	<key>#0001F63A</key>
	<string>😺</string>
	<key>#0001F63B</key>
	<string>😻</string>
	<key>#0001F63C</key>
	<string>😼</string>
	<key>#0001F63D</key>
	<string>😽</string>
	<key>#0001F63E</key>
	<string>😾</string>
	<key>#0001F63F</key>
	<string>😿</string>
	<key>#0001F640</key>
	<string>🙀</string>
	<key>#0001F645</key>
	<string>🙅</string>
	<key>#0001F646</key>
	<string>🙆</string>
	<key>#0001F647</key>
	<string>🙇</string>
	<key>#0001F648</key>
	<string>🙈</string>
	<key>#0001F649</key>
	<string>🙉</string>
	<key>#0001F64A</key>
	<string>🙊</string>
	<key>#0001F64B</key>
	<string>🙋</string>
	<key>#0001F64C</key>
	<string>🙌</string>
	<key>#0001F64D</key>
	<string>🙍</string>
	<key>#0001F64E</key>
	<string>🙎</string>
	<key>#0001F64F</key>
	<string>🙏</string>
	<key>#0001F680</key>
	<string>🚀</string>
	<key>#0001F681</key>
	<string>🚁</string>
	<key>#0001F682</key>
	<string>🚂</string>
	<key>#0001F683</key>
	<string>🚃</string>
	<key>#0001F684</key>
	<string>🚄</string>
	<key>#0001F685</key>
	<string>🚅</string>
	<key>#0001F686</key>
	<string>🚆</string>
	<key>#0001F687</key>
	<string>🚇</string>
	<key>#0001F688</key>
	<string>🚈</string>
	<key>#0001F689</key>
	<string>🚉</string>
	<key>#0001F68A</key>
	<string>🚊</string>
	<key>#0001F68B</key>
	<string>🚋</string>
	<key>#0001F68C</key>
	<string>🚌</string>
	<key>#0001F68D</key>
	<string>🚍</string>
	<key>#0001F68E</key>
	<string>🚎</string>
	<key>#0001F68F</key>
	<string>🚏</string>
	<key>#0001F690</key>
	<string>🚐</string>
	<key>#0001F691</key>
	<string>🚑</string>
	<key>#0001F692</key>
	<string>🚒</string>
	<key>#0001F693</key>
	<string>🚓</string>
	<key>#0001F694</key>
	<string>🚔</string>
	<key>#0001F695</key>
	<string>🚕</string>
	<key>#0001F696</key>
	<string>🚖</string>
	<key>#0001F697</key>
	<string>🚗</string>
	<key>#0001F698</key>
	<string>🚘</string>
	<key>#0001F699</key>
	<string>🚙</string>
	<key>#0001F69A</key>
	<string>🚚</string>
	<key>#0001F69B</key>
	<string>🚛</string>
	<key>#0001F69C</key>
	<string>🚜</string>
	<key>#0001F69D</key>
	<string>🚝</string>
	<key>#0001F69E</key>
	<string>🚞</string>
	<key>#0001F69F</key>
	<string>🚟</string>
	<key>#0001F6A0</key>
	<string>🚠</string>
	<key>#0001F6A1</key>
	<string>🚡</string>
	<key>#0001F6A2</key>
	<string>🚢</string>
	<key>#0001F6A3</key>
	<string>🚣</string>
	<key>#0001F6A4</key>
	<string>🚤</string>
	<key>#0001F6A5</key>
	<string>🚥</string>
	<key>#0001F6A6</key>
	<string>🚦</string>
	<key>#0001F6A7</key>
	<string>🚧</string>
	<key>#0001F6A8</key>
	<string>🚨</string>
	<key>#0001F6A9</key>
	<string>🚩</string>
	<key>#0001F6AA</key>
	<string>🚪</string>
	<key>#0001F6AB</key>
	<string>🚫</string>
	<key>#0001F6AC</key>
	<string>🚬</string>
	<key>#0001F6AD</key>
	<string>🚭</string>
	<key>#0001F6AE</key>
	<string>🚮</string>
	<key>#0001F6AF</key>
	<string>🚯</string>
	<key>#0001F6B0</key>
	<string>🚰</string>
	<key>#0001F6B1</key>
	<string>🚱</string>
	<key>#0001F6B2</key>
	<string>🚲</string>
	<key>#0001F6B3</key>
	<string>🚳</string>
	<key>#0001F6B4</key>
	<string>🚴</string>
	<key>#0001F6B5</key>
	<string>🚵</string>
	<key>#0001F6B6</key>
	<string>🚶</string>
	<key>#0001F6B7</key>
	<string>🚷</string>
	<key>#0001F6B8</key>
	<string>🚸</string>
	<key>#0001F6B9</key>
	<string>🚹</string>
	<key>#0001F6BA</key>
	<string>🚺</string>
	<key>#0001F6BB</key>
	<string>🚻</string>
	<key>#0001F6BC</key>
	<string>🚼</string>
	<key>#0001F6BD</key>
	<string>🚽</string>
	<key>#0001F6BE</key>
	<string>🚾</string>
	<key>#0001F6BF</key>
	<string>🚿</string>
	<key>#0001F6C0</key>
	<string>🛀</string>
	<key>#0001F6C1</key>
	<string>🛁</string>
	<key>#0001F6C2</key>
	<string>🛂</string>
	<key>#0001F6C3</key>
	<string>🛃</string>
	<key>#0001F6C4</key>
	<string>🛄</string>
	<key>#0001F6C5</key>
	<string>🛅</string>
	<key>#00A9</key>
	<string>©</string>
	<key>#00AE</key>
	<string>®</string>
	<key>#203C</key>
	<string>‼</string>
	<key>#2049</key>
	<string>⁉</string>
	<key>#20E3</key>
	<string>#⃣</string>
	<key>#2122</key>
	<string>™</string>
	<key>#2139</key>
	<string>ℹ</string>
	<key>#2194</key>
	<string>↔</string>
	<key>#2195</key>
	<string>↕</string>
	<key>#2196</key>
	<string>↖</string>
	<key>#2197</key>
	<string>↗</string>
	<key>#2198</key>
	<string>↘</string>
	<key>#2199</key>
	<string>↙</string>
	<key>#21A9</key>
	<string>↩</string>
	<key>#21AA</key>
	<string>↪</string>
	<key>#231A</key>
	<string>⌚</string>
	<key>#231B</key>
	<string>⌛</string>
	<key>#23E9</key>
	<string>⏩</string>
	<key>#23EA</key>
	<string>⏪</string>
	<key>#23EB</key>
	<string>⏫</string>
	<key>#23EC</key>
	<string>⏬</string>
	<key>#23F0</key>
	<string>⏰</string>
	<key>#23F3</key>
	<string>⏳</string>
	<key>#24C2</key>
	<string>Ⓜ</string>
	<key>#25AA</key>
	<string>▪</string>
	<key>#25AB</key>
	<string>▫</string>
	<key>#25B6</key>
	<string>▶</string>
	<key>#25C0</key>
	<string>◀</string>
	<key>#25FB</key>
	<string>◻</string>
	<key>#25FC</key>
	<string>◼</string>
	<key>#25FD</key>
	<string>◽</string>
	<key>#25FE</key>
	<string>◾</string>
	<key>#2600</key>
	<string>☀</string>
	<key>#2601</key>
	<string>☁</string>
	<key>#260E</key>
	<string>☎</string>
	<key>#2611</key>
	<string>☑</string>
	<key>#2614</key>
	<string>☔</string>
	<key>#2615</key>
	<string>☕</string>
	<key>#261D</key>
	<string>☝</string>
	<key>#263A</key>
	<string>☺</string>
	<key>#2648</key>
	<string>♈</string>
	<key>#2649</key>
	<string>♉</string>
	<key>#264A</key>
	<string>♊</string>
	<key>#264B</key>
	<string>♋</string>
	<key>#264C</key>
	<string>♌</string>
	<key>#264D</key>
	<string>♍</string>
	<key>#264E</key>
	<string>♎</string>
	<key>#264F</key>
	<string>♏</string>
	<key>#2650</key>
	<string>♐</string>
	<key>#2651</key>
	<string>♑</string>
	<key>#2652</key>
	<string>♒</string>
	<key>#2653</key>
	<string>♓</string>
	<key>#2660</key>
	<string>♠</string>
	<key>#2663</key>
	<string>♣</string>
	<key>#2665</key>
	<string>♥</string>
	<key>#2666</key>
	<string>♦</string>
	<key>#2668</key>
	<string>♨</string>
	<key>#267B</key>
	<string>♻</string>
	<key>#267F</key>
	<string>♿</string>
	<key>#2693</key>
	<string>⚓</string>
	<key>#26A0</key>
	<string>⚠</string>
	<key>#26A1</key>
	<string>⚡</string>
	<key>#26AA</key>
	<string>⚪</string>
	<key>#26AB</key>
	<string>⚫</string>
	<key>#26BD</key>
	<string>⚽</string>
	<key>#26BE</key>
	<string>⚾</string>
	<key>#26C4</key>
	<string>⛄</string>
	<key>#26C5</key>
	<string>⛅</string>
	<key>#26CE</key>
	<string>⛎</string>
	<key>#26D4</key>
	<string>⛔</string>
	<key>#26EA</key>
	<string>⛪</string>
	<key>#26F2</key>
	<string>⛲</string>
	<key>#26F3</key>
	<string>⛳</string>
	<key>#26F5</key>
	<string>⛵</string>
	<key>#26FA</key>
	<string>⛺</string>
	<key>#26FD</key>
	<string>⛽</string>
	<key>#2702</key>
	<string>✂</string>
	<key>#2705</key>
	<string>✅</string>
	<key>#2708</key>
	<string>✈</string>
	<key>#2709</key>
	<string>✉</string>
	<key>#270A</key>
	<string>✊</string>
	<key>#270B</key>
	<string>✋</string>
	<key>#270C</key>
	<string>✌</string>
	<key>#270F</key>
	<string>✏</string>
	<key>#2712</key>
	<string>✒</string>
	<key>#2714</key>
	<string>✔</string>
	<key>#2716</key>
	<string>✖</string>
	<key>#2728</key>
	<string>✨</string>
	<key>#2733</key>
	<string>✳</string>
	<key>#2734</key>
	<string>✴</string>
	<key>#2744</key>
	<string>❄</string>
	<key>#2747</key>
	<string>❇</string>
	<key>#274C</key>
	<string>❌</string>
	<key>#274E</key>
	<string>❎</string>
	<key>#2753</key>
	<string>❓</string>
	<key>#2754</key>
	<string>❔</string>
	<key>#2755</key>
	<string>❕</string>
	<key>#2757</key>
	<string>❗</string>
	<key>#2764</key>
	<string>❤</string>
	<key>#2795</key>
	<string>➕</string>
	<key>#2796</key>
	<string>➖</string>
	<key>#2797</key>
	<string>➗</string>
	<key>#27A1</key>
	<string>➡</string>
	<key>#27B0</key>
	<string>➰</string>
	<key>#27BF</key>
	<string>➿</string>
	<key>#2934</key>
	<string>⤴</string>
	<key>#2935</key>
	<string>⤵</string>
	<key>#2B05</key>
	<string>⬅</string>
	<key>#2B06</key>
	<string>⬆</string>
	<key>#2B07</key>
	<string>⬇</string>
	<key>#2B1B</key>
	<string>⬛</string>
	<key>#2B1C</key>
	<string>⬜</string>
	<key>#2B50</key>
	<string>⭐</string>
	<key>#2B55</key>
	<string>⭕</string>
	<key>#3030</key>
	<string>〰</string>
	<key>#303D</key>
	<string>〽</string>
	<key>#3297</key>
	<string>㊗</string>
	<key>#3299</key>
	<string>㊙</string>
</dict>
</plist>
